



/* footer */

.cent-foot{
    text-align: center;
}


.social-icons h2 {
    font-size: 1.1em;
    text-transform: capitalize;
    color: #777;
}

ul.social-iconsv2 li {
    display: inline-block;
    margin-right: 6px;
    border-radius: 50%;
}

ul.social-iconsv2 li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

ul.social-iconsv2 li a i.fab {
    font-size: 20px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

ul.social-iconsv2 li:first-child {
    background: #3b5998;
    color: #fff;
}

ul.social-iconsv2 li:last-child,ul.social-iconsv2 li:nth-child(2) {
    background: #1da1f2;
    color: #000;
}

ul.social-iconsv2 li:nth-child(3) {
    background: #dd4b39;
    color: #000;
}

ul.social-iconsv2 li a i.fab:hover {
    background-color: #fff;
    color: #000;
}


ul.social-iconsv2 li a:hover {
    color: #fff;
}

footer {
    padding: 2em 0;
    background: #000;
}

.cpy-right p a {
    color: #ff1949;
}

/* //footer */
/*--contact--*/
.footer-top {
    background: #131313;
}

ul.list-agileits li {
    border-right: 1px solid #777;
}

ul.list-agileits li:last-child {
    border: none;
}

ul.list-agileits {
    margin: 2.5em 0;
}

.footer-cont-btm {
    margin-top: 3em;
    text-align: center;
}

ul.list-agileits li a {
    color: #777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
}

h5.footer-top-title {
    color: #ddd;
    text-transform: uppercase;
    font-size: large;
    margin-bottom: 1em;
    letter-spacing: 1px;
}

.fv3-contact h6 {
    text-transform: uppercase;
    color: #000;
    margin-bottom: 10px;
}

.address h5 {
    color: #000;
    text-transform: capitalize;
    font-size: 1.1em;
}

.address p a:hover {
    color: #000;
}

form.footer-top-wthree label {
    width: 30%;
    line-height: 2.5;
    color: #777;
}

form.footer-top-wthree .form-control {
    border-radius: 0;
    border: none;
    background: #fff;
    color: #000;
    font-size: 1.9rem;
}

.footer-top-form h5 {
    font-size: 2em;
}

form.footer-top-wthree {
    margin-top: 2.5em;
}

.address h5 {
    font-size: 1.5em;
}

/*--//contact--*/
#flow_of_work {
    background: #EEF0F9;
    position: relative;
}

#flow_of_work:before {
    border: 1px solid #777;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 24%;
    left: 0;
    right: 0;
    bottom: 35%;
    width: 89%;
    z-index: 0;
}

.home-title {
    background: #fff;
    padding: 20px 0 23px;
    width: 400px;
    margin: 0em auto 1em;
    box-shadow: 0 27px 24px rgba(0, 0, 0, 0.1), 0 40px 77px rgba(0, 0, 0, 0.1);
}

.flow_of_work-item h4 {
    font-size: 1.1em;
    letter-spacing: 0.5px;
    color: #f9f9f9;
    text-transform: capitalize;
    margin: 2em 0 0;
}

.flow_of_work-line {
    position: relative;
    margin-top: 5em;
}

.flow_of_work-item {
    text-align: center;
    position: relative;
    z-index: 4;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    padding: 50px 18px;
}

/* .flow_of_work-item:hover {
    background: #fff;
} */
.flow_of_work-item i {
    color: #fff;
    font-size: 3em;
}

.flow_of_work-item span {
    color: #494646;
    font-size: 2em;
    font-weight: 600;
    position: absolute;
    left: 0px;
    top: -36px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #ffffff;
    border-radius: 50%;
}

/*--contact--*/
.contact-bottom {
    padding: 3rem;
}

.map iframe {
    width: 100%;
    min-height: 350px;
    border: 5px solid #777;
}

.address h5 {
    color: #000;
    text-transform: capitalize;
    font-size: 1.1em;
}

.contact-title {
    text-transform: capitalize;
    font-size: 1.3em;
    font-weight: 600;
    color: #131313;
    margin-bottom: 0.5em;
}

.address p a:hover {
    color: #000;
}

form.contact-wthree label {
    width: 45px;
    height: 45px;
    text-align: center;
    background: #ff1949;
    line-height: 45px;
    color: #eee;
    margin-bottom: 0;
}

.contact-top1 button {
    background: #ff1949;
    letter-spacing: 1px;
}

form.contact-wthree .form-control {
    border-radius: 0;
    background: #eee;
    border: none;
    font-size: 0.9rem;
}

ul.address li span {
    color: #026fbf;
    font-size: 1.2em;
    margin-right: 1em;
}

ul.address li {
    margin: 1em 0 0;
    font-size: 1.1em;
    font-weight: 600;
    color: #000;
}

ul.address li a {
    color: #000;
}

/*--//contact--*/

/* -- Responsive code -- */



   





@media screen and (max-width: 991px) {

    .contact-title {
        font-size: 1.2em
    }

    
}


@media screen and (max-width: 768px) {
    .cc{
    margin-top: 0px;
}
}




@media screen and (max-width: 667px) {
    h5.footer-top-title {
        font-size: 1.1em;
    }


}



@media screen and (max-width: 600px) {
    h6.agileinfo-title {
        font-size: 2em;
    }
}

@media screen and (max-width: 568px) {
    
    h5.footer-top-title {
        font-size: 1em;
    }
}

@media screen and (max-width: 480px) {


    p {
        font-size: 0.8em;
    }

  
 
}

@media screen and (max-width: 414px) {


}


@media screen and (max-width: 375px) {
   
    form.footer-top-wthree label {
        font-size: 13px;
    }

   
}



/* -- //Responsive code -- */