

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}


a {
  color: #6156a8;
  text-decoration: none;
}

img, svg, image {
  max-width: 100%;
}


.team-grid span {
    color: #999;
    font-size: 1.1em;
    letter-spacing: 1px;
}
.team-grid img {
    width: 100%;
}
.team-img {
    position: relative;
}
.team-img:hover .overlay {
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: rotateY(0deg) scale(1,1);
    -moz-transform: rotateY(0deg) scale(1,1);
    -ms-transform: rotateY(0deg) scale(1,1);
    -o-transform: rotateY(0deg) scale(1,1);
    transform: rotateY(0deg) scale(1,1);
}
.team-img .overlay {
    padding: 11em 0.5em;
    line-height: 24px;
}
.overlay {
    background: rgba(254,83,61, 0.8);
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 450ms ease-out 0s;
    -moz-transition: all 450ms ease-out 0s;
    -o-transition: all 450ms ease-out 0s;
    transition: all 450ms ease-out 0s;
    -webkit-transform: rotateY(180deg) scale(0.5,0.5);
    -moz-transform: rotateY(180deg) scale(0.5,0.5);
    -ms-transform: rotateY(180deg) scale(0.5,0.5);
    -o-transform: rotateY(180deg) scale(0.5,0.5);
    transform: rotateY(180deg) scale(0.5,0.5);
}
.team-grid h4 {
    font-size: 1.5em;
    color: #fa3d03;
    margin: 1em 0 .2em;
    text-transform: capitalize;
}
.w3l-social {
    margin: 1em 0 0 0;
}
.w3l-social ul{
	padding:0;
	margin:0;
}
.w3l-social ul li{
	display:inline-block;
}
.w3l-social ul li a {
    color: #333;
    text-align: center;
    display: inline-block;
}
i.fa.fa-instagram {
    margin: 0 .3em;
}
.w3l-social ul li a i.fa.fa-facebook,.w3l-social ul li a i.fa.fa-instagram,.w3l-social ul li a i.fa.fa-google-plus{
	height: 40px;
    width: 40px;
    background: #FFFFFF;
    line-height: 40px;
    color: #383838;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3l-social ul li a i.fa.fa-facebook:hover {
	background: #3b5998;
	color: #FFFFFF;
}
.w3l-social ul li a i.fa.fa-instagram:hover{
	background: #8a3ab9;
	color: #FFFFFF;
}
.w3l-social ul li a i.fa.fa-google-plus:hover{
	background: #dd4b39;
	color: #FFFFFF;
}
/*-- //team --*/


/*--responsive--*/



@media(max-width: 1080px){

	h3.tittle-w3 {
		font-size: 2.8em;
		padding-bottom: 1.2em;
	}
	.why-w3l, .services-w3l, .team, .gallery, .sub-agileitsinfo, .mail {
		padding: 4.5em 0;
	}
	.team-img .overlay {
		padding:8.5em 0.5em;
	}
	
}
@media(max-width: 1024px){
	.why-grid iframe {
		width: 64%;
	}
}
@media(max-width: 991px){
	
	.team-grid {
		padding: 0 .5em;
	}
	.w3l-social ul li a i.fa.fa-facebook, .w3l-social ul li a i.fa.fa-instagram, .w3l-social ul li a i.fa.fa-google-plus {
		height: 35px;
		width: 35px;
		line-height: 35px;
		font-size: 0.9em;
	}
	.team-img .overlay {
		padding: 6.5em 0.5em;
	}
	
	.team-grid h4 {
		font-size: 1.3em;
	}
}
@media(max-width: 800px){
	h3.tittle-w3 {
		font-size: 2.5em;
		padding-bottom: 1em;
	}
	.why-w3l, .services-w3l, .team, .gallery, .sub-agileitsinfo, .mail {
		padding: 4em 0;
	}
	.team-grid h4 {
		font-size: 1.3em;
	}
	
}

@media(max-width: 736px){
	
	.team-img .overlay {
		padding: 6em 0.5em;
	}

}
@media(max-width: 667px){
	
	.team-img .overlay {
		padding: 5em 0.5em;
	}
	.team-grid h4 {
		font-size: 1.2em;
	}
	.team-grid span {
		font-size: 1em;
	}

}

@media(max-width: 600px){
	
	.team-grid {
		float: left;
		padding: 0 1em;
	}
	
	
	.team-img .overlay {
		padding: 11em 0.5em;
	}
	
}
@media(max-width: 568px){
	
	.team-img .overlay {
		padding: 10em 0.5em;
	}
	
}
@media(max-width: 480px){
	
	.team-img .overlay {
		padding: 7.5em 0.5em;
	}
	
}
@media(max-width: 440px){
	.top-nav {
		width: 66%;
	}
}
@media(max-width: 414px){
	
	.why-w3l, .services-w3l, .team, .gallery, .sub-agileitsinfo, .mail {
		padding: 3em 0;
	}
	
	.team-img .overlay {
		padding: 6em 0.5em;
	}
	
}
@media(max-width: 384px){
	
	.team-img .overlay {
		padding: 5.5em 0.5em;
	}
	.team-grid h4 {
		font-size: 1.2em;
	}
	
	
}

	
@media(max-width: 320px){
	
	.why-w3l, .services-w3l, .team, .gallery, .sub-agileitsinfo, .mail {
		padding: 2.5em 0;
	}
	h3.tittle-w3 {
		font-size: 1.7em;
		padding-bottom: .8em;
	}
	
	.team-grid {
		width: 100%;
	}
	.team-img .overlay {
		padding: 11em 0.5em;
	}
	.team-grid:nth-child(2), .team-grid:nth-child(3), .team-grid:nth-child(4){
		margin-top: 2em;
	}
	
	
	
	h3.tittle-w3:before {
		width: 11%;
		left: -13%;
	}
	
}
/*--//responsive--*/
