

html,
body {
	margin: 0;

}

body a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	font-family: 'Tajawal', sans-serif;
}

body img {
	width: 100%;
}

a:hover {
	text-decoration: none;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	font-family: 'Tajawal', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
}

p {
	margin: 0;
	font-size: 1em;
	color: #8c9398;
	line-height: 2em;
	letter-spacing: 1px;
}

ul {
	margin: 0;
	padding: 0;
}

/*--/header --*/



/*--//banner --*/

/*
.banner-sec-w3layouts {
	background: url(../images/banner1.png) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 800px;
}
*/

/* Gibson Buttons */

a.animated-button:link,
a.animated-button:visited {
	position: relative;
	padding: 12px 30px;
	color: #777;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: 2px;
	border-radius: 0;
	z-index: 9;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

a.animated-button:link:after,
a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 100%;
	z-index: -1;
	-webkit-transition: all 0.95s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}

a.animated-button:link:hover,
a.animated-button:visited:hover {
	color: #333;
	text-shadow: none;
}

a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
	height: 450%;
}

a.animated-button.gibson-three {
	border: 2px solid rgba(255,0,0);
	color: white;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}

a.animated-button.gibson-three:after {
	opacity: 0;
	background-image: -webkit-linear-gradient(transparent -5000%, rgba(255,0,0,0.9));
	background-image: -moz-linear-gradient(transparent -5000%, rgba(255,0,0,0.9));
	background-size: 10px 10px;
	
	transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

a.animated-button.gibson-three:hover:after {
	height: 600% !important;
	opacity: 1;
	color: rgba(255,0,0,0.9);
}

.phone-inline h6 {
	color: #fff;
	letter-spacing: 2px;
	font-size: 0.9em;
}

/* Show it is fixed to the top */

/*----*/

section.slider {
	width: 75%;
	padding: 9em 3em;
}

.banner-info h3 {
	font-size: 4.5em;
	color: #fff;
	font-weight: 400;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
	letter-spacing: 2px;
}

.banner-info p {
	letter-spacing: 8px;
	line-height: 1.9em;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
	font-size: 1em;
	font-weight: 100;
	margin: 1em 0;
	color: #fff;
	width: 56%;
}

/*----*/

.header-info h4 {
	font-size: 28px;
	color: #333;
	text-transform: capitalize;
	letter-spacing: 2px;
}

.header-info p {
	letter-spacing: 1px;
	line-height: 28px;
	margin: 1em 0 0;
	color: #888;
}

.header-info p.sub_para {
	font-size: 25px;
	letter-spacing: 0px;
	line-height: 28px;
	margin: 1em 0;
	color: #666;
}

.header-info.two h3{
    font-size: 3em;
    color: #fff;
    border-bottom: 4px solid red;
    background-color: rgba(0,0,0,0.3);
}
.header-info.two p {
	color: #fff;
  
    
}

.header-info.about-in {
	margin: 0 auto;
	width: 80%;
}

/*-- services section --*/

.service_grids {
	padding: 0 2em;
}

.services {
	background: #222;
}

.ser_grid1 > i {
	font-size: 30px;
	margin-bottom: 0.8em;
	color: #fff;
}

.ser_grid1:hover i {
	color: rgb(255,0,0);
}

.ser_grid1 > a {
	font-size: 15px;
	color: #999;
	letter-spacing: 0px;
}

.ser_grid1 a:hover {
	color: #999;
}

.ser_grid1 > h3 {
	font-size: 1.2em;
	color: rgba(255,0,0,0.5);
	letter-spacing: 1px;
	margin: .5em 0;
}

.ser_grid1 > p {
	font-size: 15.5px;
	letter-spacing: 0.5px;
	line-height: 28px;
	color: #666;
	margin: 1em 0;
}

.service_grids .ser_grid1 a {
	color: #fff !important;
	font-size: 0.8em;
}

/*-- // services --*/



/*--footer--*/


/*-- /model --*/

.modal-body h4 {
	margin: 1em 0 0.5em;
	font-size: 1.2em;
}

h5#exampleModalLongTitle {
	font-size: 1.6em;
}

/*-- //model --*/

/*--/copyright--*/


/*--// copyright-- */


/*--responsive--*/

@media(max-width:1440px) {
	.banner-sec-w3layouts {
		min-height: 750px;
	}
}

@media(max-width:1366px) {
	.banner-info p {
		letter-spacing: 5px;
		font-size: 1em;
		font-weight: 100;
		margin: 1em 0;
		width: 56%;
	}
	.banner-info h3 {
		font-size: 4em;
		letter-spacing: 2px;
	}
	.banner-sec-w3layouts {
		min-height: 710px;
	}
	section.slider {
		width: 75%;
		padding: 7em 3em;
	}
}

@media(max-width:1280px) {
	.feedback-img-info h5 {
		font-size: 1em;
		letter-spacing: 1px;
	}
	h3.heading {
		font-size: 3.5em;
	}
	.feedback-img-info {
		float: left;
		width: 63%;
		margin: 0em 0 0 0.8em;
	}
	.price-main-info .card-header h4 {
		font-size: 1.5em;
		line-height: 1em;
		padding-top: 1.5em;
	}
	.price-main-info h5.card-title {
		font-size: 1.5em;
	}
	ul.list-unstyled li {
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 1.5em;
	}
	a.animated-button:link,
	a.animated-button:visited {
		padding: 8px 16px;
		font-size: 14px;
	}
	.footer-grid1-wthree-agileits h3,
	.footer-grid h3 {
		font-size: 1.2em;
	}
}

@media(max-width:1080px) {
	.gallery_grids {
		padding: 0em;
	}
	.price-main-info .card-header {
		min-height: 140px;
	}
	.price-main-info .card-body {
		padding: 1em;
	}
	.phone-inline h6 {
		letter-spacing: 1px;
	}
	.navbar-light .navbar-nav .nav-link,
	.dropdown-item {
		font-size: 12px;
		letter-spacing: 1px;
		margin: 0em 0.5em;
	}
	section.slider {
		width: 75%;
		padding: 5em 3em;
	}
	.header-info.about-in {
		margin: 0 auto;
		width: 95%;
	}
	.banner-sec-w3layouts {
		min-height: 603px;
	}
}

@media(max-width:1024px) {
	.banner-sec-w3layouts {
		min-height: 560px;
	}
	.phone-inline h6 {
		letter-spacing: 1px;
		font-size: 0.85em;
	}
	.navbar-light .navbar-nav .nav-link,
	.dropdown-item {
		color: #fff;
		font-size: 12px;
		letter-spacing: 1px;
		margin: 0em 0.5em;
		padding: 10px 10px;
	}
	.banner-info p {
		letter-spacing: 3px;
		font-size: 1em;
		margin: 1em 0;
		width: 70%;
	}
	section.slider {
		width: 75%;
		padding: 4em 3em;
	}
}

@media(max-width:991px) {
	.navbar-light .navbar-nav .nav-link {
		padding: 0.4em 1.4em;
		font-size: 0.9em;
		text-align: center;
	}
	li.nav-item {
		margin: 6px 0px 0 0;
	}
	.dropdown-item {
		text-align: center;
	}
	.active>.nav-link,
	.navbar-light .navbar-nav .nav-link.show,
	.navbar-light .navbar-nav .nav-link.active,
	.navbar-light .navbar-nav .nav-link:hover {
		color: #444;
	}
	.navbar-light .navbar-nav .nav-link {
		padding: 0.7em 1.4em;
		font-size: 0.9em;
		text-align: center;
		color: #555;
	}
	.navbar-light .navbar-nav .nav-link,
	.dropdown-item {
		color: #777;
	}
	#navbarSupportedContent {
		background: #fff;
		padding: 0.5em 0;
	}
	.cd-header-buttons {
		top: 20px;
		right: 60px;
	}
	.navbar-light .navbar-toggler {
		color: #fff;
		border-color: #fff;
	}
	.navbar-light .navbar-toggler-icon {
		background-image: none;
	}
	span.navbar-toggler-icon i {
		line-height: 1.2em;
		font-size: 1.2em;
	}
	.navbar-toggler {
		padding: 0.3rem 0.6rem;
		font-size: 1.25rem;
		border: 1px solid transparent;
		border-radius: 0;
	}
	#navbarSupportedContent {
		background: #fff;
		padding: 0.5em 0;
		position: absolute;
		width: 97%;
		z-index: 99;
		top: 100%;
	}
	h1.logo a.navbar-brand {
		font-size: 1em;
	}
	.feature {
		margin-top: 0em;
	}
	.subscribe-form form {
		width: 50%;
	}
	.service_grids {
		padding: 0 0em;
		margin-top: 2em;
	}
	.gal-content {
		margin-top: 2em;
	}
	.inner-sec-w3ls-agileits {
		padding: 3em 1em !important;
	}
	.header-info {
		margin: 0 !important;
        
	}
	.card-desk {
		margin-bottom: 2em;
	}
	.team_grids,
	.about_grids,
	.test-grids,
	.contact-grids,
	.stats_test {
		padding: 0 0em;
	}
	.team-con-info {
		margin-bottom: 2em;
	}
	.footer-grid1-wthree-agileits:nth-child(2) {
		margin: 2em 0;
	}
	.subscribe-main-w3ls-agileits {
		padding-bottom: 0;
		margin-top: 1em;
	}
	.banner-info h3 {
		font-size: 3.3em;
		letter-spacing: 2px;
	}
}

@media(max-width:900px) {}

@media(max-width:800px) {
	section.slider {
		width: 75%;
		padding: 2em 3em;
	}
	.banner-sec-w3layouts {
		min-height: 459px;
	}
	.banner-info p {
		letter-spacing: 3px;
		font-size: 1em;
		margin: 1em 0;
		width: 90%;
	}
	.banner-info h3 {
		font-size: 3em;
		letter-spacing: 2px;
	}
}

@media(max-width:768px) {
	.subscribe-form form {
		width: 70%;
	}
	.blog-grid-left {
		margin-bottom: 1em;
	}
	.main_grid_contact .form {
		flex-basis: 70%;
		padding: 2em 1em;
	}
}

@media(max-width:767px) {
	.price-main-info.card:nth-child(2) {
		margin: 2em 0;
	}
	.ser_grid1.second {
		margin: 2em 0;
	}
	.subscribe-form form {
		width: 70%;
	}
	.blog-grid-left {
		margin-bottom: 1em;
	}
}

@media(max-width:667px) {
	h3.heading {
		font-size: 2.3em;
	}
	.banner-info h3 {
		font-size: 3em;
		letter-spacing: 2px;
	}
	header {
		padding: 2em 1em;
	}
	.banner-sec-w3layouts {
		min-height: 409px;
	}
	.header-info.about-in {
		margin: 0 auto;
		width: 100%;
	}
	section.slider {
		width: 75%;
		padding: 1em 3em;
	}
}

@media(max-width:640px) {
	section.slider {
		width: 75%;
		padding: 1em 3em;
	}
	h3.heading {
		font-size: 2em;
	}
	.banner-info p {
		letter-spacing: 2px;
		font-size: 0.9em;
		margin: 1em 0;
		width: 100%;
	}
}

@media(max-width:600px) {
	.banner-sec-w3layouts {
		min-height: 376px;
	}
}

@media(max-width:568px) {
	.banner-info h3 {
		font-size: 2.5em;
		letter-spacing: 2px;
	}
	.team_grid:nth-child(3) {
		margin-bottom: 2em;
	}
}

@media(max-width:480px) {
	.demo>li img {
		width: 100%;
		cursor: pointer;
	}
	.inner-sec-w3ls-agileits {
		padding: 2em 0.5em !important;
	}
	.subscribe-form form {
		width: 100%;
	}
	h3.heading {
		font-size: 2em;
	}
	.main_grid_contact .form {
		flex-basis: 70%;
		padding: 2em 0em;
	}
	h1.logo a.navbar-brand {
		font-size: 0.75em;
	}
	.top-header {
		background: none !important;
		padding: 0em 0em;
	}
	header {
		padding: 1em 1em 0 1em;
	}
	span.sub {
		font-size: 5px;
		color: #555;
		padding: 4px 7px;
	}
	.banner-sec-w3layouts {
		min-height: 284px;
	}
	.banner-info p {
		letter-spacing: 1px;
		font-size: 0.85em;
		margin: 1em 0;
		width: 100%;
	}
	.banner-info h3 {
		font-size: 2.1em;
		letter-spacing: 2px;
	}
	.navbar-light .navbar-nav .nav-link {
		padding: 0.7em 1.4em;
		font-size: 0.8em;
	}
	.main_grid_contact label {
		font-size: 0.9em;
	}
	.header-info.about-in {
		padding-bottom: 0!important;
	}
}

@media(max-width:414px) {
	.banner-info h3 {
		font-size: 2em;
		letter-spacing: 1px;
	}
	span.sub {
		font-size: 3px;
		padding: 4px 6px;
		border: 3px solid rgba(255,0,0,0.9);
	}
	.navbar-toggler {
		padding: 0.3em 0.4em;
		font-size: 1em;
	}
	h1.logo a.navbar-brand {
		font-size: 0.7em;
	}
	.phone-inline h6 {
		letter-spacing: 1px;
		font-size: 0.8em;
	}
	header {
		padding: 0.5em 1em 0 1em;
		width: 100%;
		top: 1%;
		left: 0%;
	}
	.banner-info h3 {
		font-size: 1.4em;
		letter-spacing: 1px;
	}
	.flex-control-paging li a {
		width: 12px;
		height: 12px;
	}
	.banner-info p {
		letter-spacing: 1px;
		font-size: 0.85em;
		margin: 0.3em 0;
		width: 100%;
	}
	.banner-sec-w3layouts {
		min-height: 254px;
	}
	section.slider {
		width: 66%;
		padding: 1em 2em;
	}
	.footer-grid img {
		width: 80%;
	}
}

@media(max-width:384px) {
	h3.heading {
		font-size: 1.8em;
	}
	section.slider {
		width: 57%;
		padding: 1em 1.5em;
	}
	.banner-info p {
		letter-spacing: 1px;
		font-size: 0.75em;
		margin: 0.3em 0;
		width: 100%;
	}
	.header-info p {
		font-size: 0.9em;
	}
	.ser_grid1 i {
		margin-bottom: 0em;
	}
	.main_grid_contact input[type="text"],
	.main_grid_contact input[type="email"],
	.main_grid_contact textarea {
		outline: none;
		padding: 10px 15px;
	}
}

@media(max-width:375px) {
	.banner-info h3 {
		font-size: 1.3em;
		letter-spacing: 1px;
	}
	.banner-sec-w3layouts {
		min-height: 230px;
	}
}

@media(max-width:320px) {
	section.slider {
		width: 57%;
		padding: 1em 1.5em 0 1.5em;
	}
	header {
		padding: 0.3em 0.5em 0 0.5em;
	}
}